################################
# Environment & Secrets
################################
.env
BUSINESS_LOGIC.md

################################
# Maven / Build
################################
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/wrapper/maven-wrapper.jar

################################
# Logs
################################
*.log

################################
# IntelliJ IDEA
################################
.idea/
*.iws
*.iml
*.ipr
out/

################################
# Spring Tool Suite (STS)
################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

################################
# NetBeans
################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

################################
# VS Code
################################
.vscode/

################################
# OS files
################################
.DS_Store
Thumbs.db
